env
digital_medical/.env
# Node.js dependencies
node_modules/
venv/
vend/
dlib/
.env
face_recognition/face_auth_project/README.md
face_recognition/face_auth_project/media/
**/media
face_recognition/face_auth_project/db.sqlite3